/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffaf36;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

section, article {
  overflow: hidden; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row:after, .row:before {
  content: "";
  display: block;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.btn {
  width: 151px;
  height: 51px;
  border: 1px solid #ffaf36;
  background-color: transparent;
  color: #ffaf36;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold; }

.section__header {
  font-size: 1.9em;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px; }

.section__subheading {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 0.9em;
  letter-spacing: 1px; }

.section__paragraph {
  font-size: 0.9em;
  line-height: 28px;
  color: #585858; }

.section__button {
  color: #ffaf36;
  transition: all .3s; }
  .section__button:hover {
    background-color: #ffaf36;
    color: white; }

.header {
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }

.header__container {
  position: relative; }

.header__logo {
  position: absolute;
  top: 27px;
  color: white;
  display: flex;
  align-items: center; }
  .header__logo .logo {
    padding-bottom: 10px; }
  .header__logo span {
    padding-left: 20px;
    letter-spacing: 2px; }
  .header__logo p {
    font-family: auto;
    padding-left: 20px;
    z-index: 1; }

.logo__item {
  border-left: 2px solid rgba(221, 228, 234, 0.15);
  margin-left: 20px;
  padding: 12px 0; }

.header__navigation--hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px; }

.header__navigation {
  float: right;
  margin-top: 40px;
  padding: 0 20px 0 0;
  list-style-type: none; }
  .header__navigation li {
    display: inline-block;
    padding-right: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 14px; }
  .header__navigation .fa-caret-right {
    display: none; }

nav a:hover {
  color: #ffaf36; }

.navigation__link--active {
  color: #ffaf36; }

main {
  animation-name: fade-in;
  animation-duration: 1s; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-15px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

footer {
  background-color: #2a2b2c;
  padding: 80px 20px;
  min-height: 450px;
  color: white; }

.footer__logo {
  margin-top: 50px; }

.footer__header {
  text-transform: uppercase;
  margin-bottom: 35px; }

.logo__paragraph {
  font-size: 0.8em;
  color: #8e8e8e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 30px; }

.media__item {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #373839;
  position: relative;
  cursor: pointer; }
  .media__item a {
    width: 29px;
    height: 29px;
    display: block;
    color: #8a8a8a; }
    .media__item a:hover {
      color: #ffaf36; }
  .media__item [class*='fa-'] {
    position: absolute;
    font-size: 0.9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation__column {
  padding-left: 50px; }

.footer__navigation {
  list-style-type: none;
  padding: 0; }
  .footer__navigation li {
    border-bottom: 1px solid #373839;
    padding-bottom: 6px;
    margin: 0 110px 10px 0;
    color: #7b7b7c;
    font-size: 12px;
    text-transform: uppercase; }

.fa-caret-right {
  display: inline-block;
  padding-right: 10px;
  color: #ffaf36; }

.contact__column {
  position: relative;
  padding-left: 60px;
  height: 300px; }

.footer__form {
  margin-top: 20px; }
  .footer__form input, .footer__form textarea {
    background-color: #2a2b2c;
    border: 1px solid #373839;
    padding: 14px;
    font-size: 12px; }
  .footer__form input {
    width: 180px; }
  .footer__form textarea {
    resize: none;
    width: 360px;
    height: 100px; }
  .footer__form .footer__button {
    position: absolute;
    bottom: 20px;
    left: 60px;
    border: 1px solid #ffaf36;
    width: 151px;
    padding: 0; }

[class*='hero__section'] {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1; }

.hero__section--home {
  background-image: url(../components/Images/home-background.png);
  min-height: 800px;
  padding: 0 20px;
  color: white; }

.hero__container--home {
  min-height: 800px;
  position: relative;
  z-index: 1; }

.hero__content--home {
  position: absolute;
  top: 40%;
  left: 0; }
  .hero__content--home span {
    text-transform: uppercase; }

.hero__header--home {
  font-size: 3em;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 2px; }

.hero__paragraph--home {
  font-size: 1em;
  font-style: italic;
  width: 60%;
  line-height: 35px;
  font-family: 'Lora', serif; }

.hero__button--home {
  background-color: #ffaf36;
  margin-top: 40px;
  color: black;
  transition: color .3s; }
  .hero__button--home:hover {
    color: white; }

.about__section--home {
  padding: 100px 20px 120px 20px; }

.about__paragraph--home {
  width: 85%; }

.about__button--home {
  margin-top: 15px; }

.services__section--home {
  padding: 0 20px;
  background-color: #eaeff3;
  text-align: left; }

.services__container--home {
  padding: 90px 0;
  position: relative; }

.services__column-12--home {
  margin-bottom: 30px; }

.section__item--home {
  display: flex; }

.item__icon--home {
  position: relative;
  width: 18%;
  display: inline-block; }
  .item__icon--home img {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 60px;
    height: 55px; }

.item__content--home {
  width: 82%;
  display: inline-block;
  padding-top: 30px; }

.item__header--home {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 15px; }

.item__paragraph--home {
  width: 85%; }

.service__button--home {
  margin-top: 50px; }

.service__pyramids--home {
  position: absolute;
  bottom: 0;
  right: 40px; }

.client__section--home {
  padding: 50px 0 80px 0; }

.client__column-12--home {
  padding-left: 35px; }

.client__content--home {
  position: relative;
  padding: 45px 35px 0 35px; }

.client__data--home {
  padding-top: 15px;
  display: flex; }

.client__details--home {
  margin-top: 12px;
  padding-left: 30px; }

.client__header--home {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; }

.client__paragraph--home {
  margin: 0; }

.quote__img--home {
  top: 30px;
  position: absolute; }

.news__section--home {
  background-color: #eaeff3;
  padding: 60px 20px; }

.news__column-12--home {
  margin-bottom: 50px; }

.news__statistics--home {
  position: relative;
  display: inline-block;
  text-align: right; }

.statistics__object {
  width: 75px;
  border-bottom: 1px solid #ffaf36;
  margin-bottom: 20px; }
  .statistics__object span {
    font-size: 30px;
    font-weight: bold; }

.statistic__paragraph {
  font-size: 0.8em;
  margin: 10px 0;
  letter-spacing: 1.5px; }

.news__article--home {
  display: inline-block;
  width: 80%;
  padding: 0 20px; }

.article__header {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 10px; }

.article__paragraph {
  font-size: 0.8em;
  line-height: 28px;
  width: 90%;
  color: #585858;
  margin: 0; }

.news__article--right {
  margin-left: 50px;
  padding-bottom: 20px; }

.article__date {
  text-transform: uppercase;
  font-size: .8em;
  color: #ffaf36;
  font-weight: bold; }

.news__separator {
  border-bottom: 1px solid #d8dcdf; }

.news__button--home {
  margin: 30px 0 0 50px; }

.partners__section--home {
  padding: 40px 20px 150px 20px;
  position: relative; }

.logo__container {
  margin-top: 50px;
  border: 1px solid #eaeff3;
  display: flex;
  justify-content: center;
  padding: 25px; }
  .logo__container img {
    width: 88px;
    height: 88px; }

.pyramids__shape--home {
  position: absolute;
  bottom: 0;
  right: 40px; }

.hero__section--about {
  background-image: url(../components/Images/about-background.png);
  min-height: 370px; }

.about__section--about {
  padding: 80px 20px; }

.about__paragraph--about {
  margin-top: 25px; }

.about__image-container--about {
  position: relative;
  margin-top: 90px; }
  .about__image-container--about img {
    width: 100%; }

.button__container--about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .button__container--about button {
    margin: 0 15px; }

.views__section {
  background-color: #eaeff3;
  position: relative;
  padding: 60px 0 80px 0; }

.views__top-column {
  margin-top: 30px; }
  .views__top-column .col-9 {
    margin-left: 30px; }

.views__bottom-column {
  float: right;
  text-align: right; }
  .views__bottom-column .col-9 {
    margin-right: 30px; }
  .views__bottom-column p {
    float: right; }

.views__image-container {
  float: left; }

.views-column__header {
  text-transform: uppercase;
  letter-spacing: 1px; }

.views-column__paragraph {
  line-height: 28px;
  font-size: 0.9em;
  width: 85%;
  color: #585858; }

.views__pyramids {
  position: absolute;
  bottom: 0;
  left: 40px; }

.hero__section--services {
  background-image: url(../components/Images/services-background.png);
  min-height: 370px; }

.services__article {
  border: 1px solid #eaeff3; }

.services__section--services {
  padding: 80px 0; }

.services__container--services {
  padding-left: 15px; }

.services__article {
  margin: 15px 15px 20px 0; }
  .services__article img {
    width: 100%; }

.services-article__header, .services-article__paragraph {
  padding: 10px 70px;
  text-align: justify; }

.services-article__header {
  margin: 30px 0 0 0; }

.services-article__paragraph {
  width: 100%; }

.services-article__button {
  margin: 30px 0 50px 70px; }

.client-component-Background {
  background-color: #eaeff3; }

.hero__section--news {
  background-image: url(../components/Images/news-background.png);
  min-height: 370px; }

.news__container--news {
  padding: 40px 20px 0 20px; }

.article__container {
  padding: 0 20px; }

.news-section__article--one {
  padding-bottom: 80px; }

.article__shape-container {
  margin-top: 40px; }
  .article__shape-container img {
    position: absolute;
    z-index: 0; }

.shape__paragraph {
  position: relative;
  margin-left: 30px;
  padding-top: 14px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  z-index: 1; }

.article__image-container {
  margin-top: 40px;
  padding-right: 40px; }

.article__text-container {
  margin-top: 40px; }

.article__sub-paragraph {
  font-weight: bold;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 0.8em; }

.fa-check {
  padding-right: 7px;
  font-size: 10px; }

.news-section__article--two {
  background-color: #eaeff3;
  padding: 60px 0; }

.news-section__article--three {
  position: relative;
  padding: 50px 0; }

.article__sub-image-container {
  display: flex; }
  .article__sub-image-container img {
    padding: 15px 0 0 10px;
    width: 100%; }
    .article__sub-image-container img:first-child {
      padding: 15px 10px 0 0; }

.article__blue-box {
  margin: 40px 40px 0 0;
  background-color: #d1ebff;
  border-left: 5px solid #36a8ff; }

.blue-box__paragraph {
  padding: 40px 70px;
  width: 100%;
  font-weight: bold;
  font-style: italic; }

.news-section__article--four {
  background-color: #eaeff3;
  padding: 50px 0 60px 0;
  position: relative; }
  .news-section__article--four .pyramids__shape {
    position: absolute;
    bottom: 0;
    right: 40px; }

.hero__section--blog {
  background-image: url(../components/Images/blog-background.png);
  min-height: 370px; }

.blog__container--blog {
  position: relative;
  padding: 80px 20px 150px 20px; }

.blog__pyramids {
  position: absolute;
  bottom: 0;
  right: 40px; }

.blog__article {
  margin-top: 40px;
  border-bottom: 1px solid #e6e9ee; }

.blog-article__header {
  margin: 8px 0; }

.blog-article__subheading {
  text-transform: uppercase;
  color: #757575;
  padding-bottom: 25px; }

.blog-article__paragraph {
  font-size: 0.9em;
  padding: 25px 0 40px 0;
  width: 100%; }

.blog-article__image {
  width: 100%; }

.media__container {
  display: flex;
  float: left;
  margin-bottom: 50px; }
  .media__container p {
    font-size: 0.9em;
    letter-spacing: 1px; }

.blog-media__item {
  position: relative;
  margin-left: 15px;
  border-radius: 100%;
  background-color: #496fa5;
  color: white; }
  .blog-media__item:hover {
    color: #ddd; }
  .blog-media__item [class*="fa"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3em; }
  .blog-media__item a {
    width: 51px;
    height: 51px;
    display: block; }

.twitter-icon {
  background-color: #00baef; }

.google-icon {
  background-color: #eb4125; }

.blog__button {
  float: right; }

.post__section {
  padding: 80px 20px 100px 20px; }

.post__yellow-container {
  margin-left: 90px;
  border-left: 5px solid #ffaf36;
  background-color: #fef1de;
  margin-bottom: 30px; }

.yellow-container__paragraph {
  font-size: 0.8em;
  font-weight: 800;
  font-style: italic;
  padding: 15px 50px;
  color: #1c1c1c;
  line-height: 28px; }

.article__post-author {
  display: flex;
  margin-top: 50px; }
  .article__post-author img {
    height: 100%; }

.post-author__message-content {
  height: 100%;
  background-color: #36a8ff;
  position: relative;
  color: white; }

.post-author__triangle {
  background-color: #36a8ff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: rotate(45deg) translateY(-50%); }

.post-author__header {
  font-size: 1em;
  padding: 35px 0 20px 50px;
  margin: 0; }

.post-author__paragraph {
  font-size: 0.9em;
  line-height: 24px;
  padding: 0 50px;
  margin: 0;
  color: #dbefff; }

.return__button {
  float: right;
  padding: 30px;
  color: #ffaf36;
  font-weight: bold;
  font-size: 1em; }

.hero__section-FAQ {
  background-image: url(../components/Images/FAQ-background.png);
  min-height: 370px; }

.FAQ__section {
  padding: 80px 20px; }

.faq__item {
  height: 140px;
  margin-top: 45px;
  padding-bottom: 40px; }
  .faq__item .col-11 {
    padding-left: 20px; }

.item__yellow-shape {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(45deg);
  background-color: #ffaf36; }
  .item__yellow-shape span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-weight: bold; }

.faq__header {
  margin-top: 0; }

.hero__section--contact {
  min-height: 370px;
  background-image: url(../components/Images/contact-background.png); }

.contact-page__section {
  padding: 80px 20px; }

.contact__details {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between; }
  .contact__details p {
    padding: 0 20px;
    font-family: auto;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8em; }

.details__phone-box {
  display: flex;
  align-items: center; }

.detail__email-box {
  border: 1px solid #ffaf36;
  transition: background-color 1s; }
  .detail__email-box:hover {
    background-color: #ffaf36; }

.contact__image-container {
  margin-top: 40px;
  position: relative; }
  .contact__image-container img {
    width: 100%; }

.image-container__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); }

.contact-content__header {
  margin: 0;
  color: #ffaf36; }

.contact-content__paragraph {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: white; }

@media screen and (max-width: 1250px) {
  .col-4-lg {
    width: 33.33%; }
  .col-12-lg {
    width: 100%; }
  .header {
    padding: 0 20px; }
  .header__logo p {
    font-size: 0.85em; }
  .header__navigation li {
    padding-right: 25px;
    font-size: 0.80em; }
  .footer__navigation li {
    margin: 0 70px 10px 0; }
  .news__article--home {
    width: 100%; }
    .news__article--home img {
      max-width: 100%; }
  .views__container header {
    padding: 0 20px; }
  .views__image-container img {
    display: none; }
  .views__top-column .col-9 {
    margin: 0;
    padding-left: 20px; }
  .views__bottom-column .col-9 {
    margin: 0;
    padding-right: 20px; }
  .article__container img {
    max-width: 100%; }
  .news-section__article--two {
    padding: 50px 0; }
  .article__image-container {
    padding: 0 20px; }
  .news-section__column-10 {
    padding-left: 20px; }
  .news-section__article--three {
    padding-bottom: 220px; }
  .article__sub-image-container {
    display: none; }
  .article__blue-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
  .article__post-author .col-10 {
    margin-left: 30px; }
  .faq__header {
    font-size: 0.8em; }
  .faq__paragraph {
    font-size: 0.7em; } }

@media screen and (max-width: 992px) {
  .col-4-md {
    width: 33.33%; }
  .col-6-md {
    width: 50%; }
  .col-12-md {
    width: 100%; }
  .btn {
    width: 135px;
    height: 45px; }
  .article__paragraph {
    font-size: 0.7em;
    line-height: 25px; }
  .header {
    padding: 0 20px; }
  .header__logo p {
    font-size: 0.85em; }
  .header__navigation {
    display: none; }
  .header__navigation--hamburger {
    display: block;
    position: fixed; }
  footer {
    min-height: 130px;
    padding: 40px 0; }
  .footer__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0; }
  .navigation__column {
    display: none; }
  .contact__column {
    display: none; }
  .logo__paragraph {
    margin-bottom: 5px; }
  .hero__content--home span {
    font-size: 0.8em;
    padding-left: 3px; }
  .hero__header--home {
    font-size: 2.3em; }
  .hero__paragraph--home {
    font-size: 0.75em; }
  .about__section--home {
    padding: 50px 20px; }
  .about__paragraph--home {
    text-align: justify;
    width: 90%; }
  .services__column-12--home header {
    text-align: center; }
  .section__item--home {
    padding: 0 17%; }
  .item__paragraph--home {
    text-align: justify; }
  .service__button--home {
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .client__content--home {
    padding: 45px 15px 0 15px; }
  .client__paragrph--home {
    font-size: 0.8em; }
  .news__statistics--home {
    display: none; }
  .news__article--home {
    width: 100%;
    padding: 0; }
    .news__article--home img {
      max-width: 100%; }
  .news__article-header--no-margin {
    margin-top: 0; }
  .news__article-paragraph--home {
    text-align: justify;
    width: 100%; }
  .news__button--home {
    margin-top: 10px; }
  .partners__section--home {
    text-align: center; }
  .views__container {
    overflow-x: hidden; }
    .views__container header {
      padding: 0 30px; }
  .views__image-container {
    display: none; }
  .views__bottom-column .col-12-md {
    margin: 0;
    padding-right: 30px; }
  .services-article__header {
    text-align: left;
    padding: 10px 30px; }
  .services-article__paragraph {
    padding: 10px 30px; }
  .services-article__button {
    margin-left: 30px; }
  .article__container .col-2 {
    display: none; }
  .article__image-container img {
    max-width: 100%; }
  .article__sub-paragraph {
    margin: 15px 0 0 0;
    font-size: 0.65em; }
  .news-section__article--two {
    padding: 40px 0; }
  .news-section__column-10 p {
    width: 100%; }
  .news-section__article--three {
    padding-bottom: 60px; }
  .article__sub-image-container {
    display: none; }
  .article__blue-box {
    display: none; }
  .news-section__article--four {
    padding-bottom: 120px; }
  .blog__article .col-1 img {
    display: none; }
  .article__post-author {
    display: none; }
  .faq__item {
    height: 180px; }
  .faq__header {
    font-size: 0.75em;
    letter-spacing: 1px; }
  .faq__paragraph {
    font-size: 0.7em; } }

@media screen and (max-width: 768px) {
  .col-6-sm {
    width: 50%; }
  .col-12-sm {
    width: 100%; }
  .btn {
    width: 120px;
    height: 40px; }
  .section__header {
    font-size: 1.5em; }
  .section__subheading {
    font-size: 0.75em; }
  .section__paragraph {
    width: 100%;
    font-size: 0.845em;
    text-align: justify;
    line-height: 23px; }
  .navigation__column {
    display: none; }
  .contact__column {
    display: none; }
  .logo__paragraph {
    font-size: 0.7em;
    margin-bottom: 5px; }
  footer p {
    display: none; }
  .footer__media {
    margin-top: 10px; }
  .hero__section--home {
    background-position: 75%;
    min-height: 500px; }
  .hero__container--home {
    min-height: 500px; }
  .hero__content--home {
    top: 80%; }
    .hero__content--home span {
      font-size: 0.9em; }
  .hero__header--home {
    font-size: 1.8em;
    margin-top: 3px; }
  .hero__paragraph--home {
    display: none; }
  .hero__button--home {
    display: none; }
  .about__section--home {
    padding: 60px 20px 30px 20px; }
  .section__item--home {
    justify-content: center;
    padding: 0 10%; }
  .item__icon--home {
    position: absolute;
    opacity: 0.2; }
    .item__icon--home img {
      position: absolute;
      width: 70px;
      height: 70px; }
  .item__header--home, .item__paragraph--home {
    text-align: center; }
  .service__button--home {
    z-index: 5; }
  .client__column-12--home {
    padding: 0; }
    .client__column-12--home header {
      text-align: center; }
  .client__paragrph--home {
    text-align: center;
    padding: 0 15% 50px 20%;
    margin: 0; }
  .client__data--home {
    justify-content: center;
    padding: 0; }
  .quote__img--home {
    top: 20%;
    left: 30%; }
  .news__article--home {
    padding: 10px 30px; }
    .news__article--home img {
      max-width: 100%; }
  .news__container--home .col-1 {
    display: none; }
  .news__article--right {
    margin: 0;
    padding: 10px 30px;
    border: none; }
  .news__button--home {
    margin: 30px 0 0 30px; }
  .button__container--about {
    width: 300px; }
  .views__container {
    padding: 40px 0 90px 0; }
    .views__container header {
      padding: 0 30px; }
  .services__section--services {
    padding: 50px 0 100px 0; }
  .article__image-container {
    text-align: center;
    padding: 0; }
  .article__text-container {
    text-align: center; }
    .article__text-container .article__paragraph {
      width: 100%;
      padding: 20px 50px;
      text-align: justify; }
    .article__text-container .article__sub-paragraph {
      font-size: 0.8em; }
  .news-section__article--two {
    padding: 10px 0; }
  .hero__section--blog {
    background-position: 70%; }
  .blog-article__paragraph {
    font-size: 0.8em; }
  .blog-media__item {
    width: 35px;
    height: 35px;
    font-size: 0.75em; }
  .post__yellow-container {
    margin-left: 0; }
  .faq__item {
    margin-top: 20px;
    height: 150px;
    padding-bottom: 0; }
  .hero__section--contact {
    background-position: 70%; }
  .detail__email-box p {
    font-size: 0.7em; }
  .contact-content__header {
    font-size: 1em; }
  .contact-content__paragraph {
    font-size: 0.7em;
    letter-spacing: 0.75px; } }

@media screen and (max-width: 479px) {
  .col-12-xs {
    width: 100%; }
  footer img {
    width: 130px; }
  .media__item {
    margin-right: 5px; }
    .media__item a {
      font-size: 0.8em; }
  .hero__section--home {
    background-position: 72%; }
  .header__logo span, .header__logo .logo__phone, .header__logo p {
    display: none; }
  .about__section--home {
    text-align: center; }
  .about__paragraph--home {
    text-align: center; }
  .services__container--home {
    padding: 40px 0 100px 0; }
  .item__content--home {
    width: 100%;
    padding-top: 0; }
  .item__icon--home {
    left: 50%;
    transform: translateX(-50%); }
  .client__section--home {
    padding: 10px 0; }
  .client__content--home {
    padding-top: 20px; }
  .client__paragrph--home {
    padding: 0 0 25px 0; }
  .client__data--home {
    padding-bottom: 35px; }
  .quote__img--home {
    display: none; }
  .news__section--home {
    position: relative;
    padding: 30px 20px 150px 20px; }
  .news__column-12--home {
    text-align: center; }
  .news__article--home {
    text-align: center;
    padding: 0; }
    .news__article--home p {
      width: 100%; }
  .news__article--right {
    padding: 10px 0 0 0;
    text-align: center; }
  .news__separator {
    padding-top: 30px; }
  .news__article-paragraph--home {
    text-align: center; }
  .news__button--home {
    margin: 0;
    bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .about__section--about {
    text-align: center; }
  .button__container--about {
    width: 250px; }
    .button__container--about .section__button {
      width: 90px;
      height: 25px;
      font-size: 10px; }
  .views__container header {
    text-align: center; }
  .views-column__paragraph {
    width: 100%;
    text-align: justify; }
  .views-column__header {
    text-align: center; }
  .views__top-column, .views__bottom-column {
    text-align: center;
    padding: 0 10px; }
    .views__top-column .col-9, .views__bottom-column .col-9 {
      padding: 0; }
  .services__container--services {
    text-align: center; }
  .services__article {
    position: relative;
    padding-bottom: 120px; }
  .services-article__header {
    text-align: center; }
  .services-article__paragraph {
    padding: 10px; }
  .services-article__button {
    position: absolute;
    margin: 0;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%); }
  .news__section--news header {
    text-align: center; }
  .news__section--news .article__paragraph {
    padding: 20px 0; }
  .news-section__column-10 {
    padding: 0; }
  .blog__container--blog {
    text-align: center;
    padding: 30px 0 150px 0; }
    .blog__container--blog .blog-article__subheading {
      width: 100%; }
  .blog-article__paragraph {
    text-align: justify; }
  .blog__button {
    float: none;
    margin-bottom: 30px; }
  .yellow-container__paragraph {
    padding: 15px 10px;
    text-align: justify; }
  .FAQ__section {
    padding: 20px; }
    .FAQ__section header {
      text-align: center; }
  .faq__paragraph {
    width: 100%;
    margin-bottom: 45px;
    text-align: justify; }
  .contact-page__section header {
    text-align: center; }
  .contact__details {
    flex-direction: column; }
  .contact__image-container {
    margin-top: 100px;
    color: black;
    text-align: center; }
    .contact__image-container img {
      display: none; }
  .contact-content__paragraph {
    color: black;
    text-align: center; } }
